.root {
  -fx-background-color: #1e1e1e;
  -fx-pref-width: 960;
  -fx-pref-height: 640;
}

.funcBox {
  -fx-background-color: #171717;
  -fx-pref-width: 200;
}

.stripBox {
  -fx-background-color: #f00;
  -fx-pref-height: 300;
}

.tabBox {
  -fx-background-color: #0f0;
  -fx-pref-height: 35;
}

.contentWebview {
  -fx-pref-height: 270;
  -fx-pref-width: 540;
}

.contentImage {
  -fx-pref-width: 220;
}

.statusBar {
  -fx-background-color: #00f;
  -fx-pref-height: 35;
}
