@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;700&family=Noto+Sans+JP:wght@300;400;700&family=Potta+One&display=swap');

.root {
  -fx-background-color: #1e1e1e;
  -fx-pref-width: 960;
  -fx-pref-height: 540;
  -fx-min-width: 960;
  -fx-min-height: 540;
  -fx-font-family: "JetBrains Mono", "Noto Sans JP", "Potto One", monospace, sans-serif;
}

#mainComponent {
  -fx-padding: 10px 0;
}

.ticketContainer {
  -fx-min-width: 800;
  -fx-background-color: #1e1e1e;
}

.containerAnchorPane {
  -fx-min-width: 0;
  -fx-min-height: 0;
  -fx-background-color: #1e1e1e;
  -fx-vbar-policy: always;
  -fx-pref-height: USE_COMPUTED_SIZE;
}

.containerAnchorPane .scroll-pane {
  -fx-min-width: 800;
  -fx-background-color: inherit;
  -fx-hbar-policy: never;
}

.scroll-pane .scroll-bar:vertical {
  -fx-background-color: #f1f1f1;
}

.ticket {
  -fx-min-height: 100;
  -fx-min-width: 600;
  -fx-background-color: #0d0d0d;
  -fx-padding: 10px;
  -fx-border-insets: 10px;
  -fx-background-insets: 10px;
  -fx-background-radius: 10px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0, 0, 0);
}

.profileIconImage {
  -fx-background-color: #0d0d0d;
  -fx-border-radius: 50%;
  -fx-clip-shape: circle;
}

.funcBox {
  -fx-background-color: #0F0F0F;
  -fx-pref-width: 160;
}

.timelineColumn {
  -fx-spacing: 15;
  -fx-min-width: 350;
}

.timelineColumnPane {
  -fx-alignment: CENTER;
}

.timelineScroll {
  -fx-pref-height: 20;
}

.timelineElementIconPane {
  -fx-padding: 0 15 5 15;
}

.commonButton {
  -fx-background-color: #1d1d1d;
  -fx-opacity: 0.7;
  -fx-pref-height: 40;
  -fx-pref-width: 60;
  -fx-text-fill: #fff;
  -fx-border-color: #ccc;
  -fx-border-width: 2;
  -fx-border-radius: 6;
}

.commonButton:hover {
  -fx-opacity: 1;
  -fx-background-color: #202020;
}

.funcButton {
  -fx-max-height: 60;
  -fx-pref-width: 160;
  -fx-border-width: 0;
  -fx-border-radius: 0;
  -fx-alignment: CENTER-LEFT;
  -fx-font-size: 15;
  -fx-font-family: "Noto Sans JP", "Yu Gothic UI Semibold", sans-serif;
  -fx-wrap-text: ELLIPSIS;
}

.commonInformationBar {
  -fx-background-color: #070707;
  -fx-pref-height: 40;
}
